#topbar{
    background-color: #242633;
    color:gold;
}
#navi{
    background-color: #10141b;
    padding-left: 15%;
    padding-right: 15%;
}
.lead{
    padding-left: 25%;
    padding-right: 25%;
}
#jumby{
    color:white;
    background-image: 'images/fire.jpg';
}